html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
}

body, html, #app, #app > div{
  height: 100%;
}

a {
//   color:    #ff4081;
  color: none;
  text-decoration: none;
  opacity:1;
}

a:hover {
//   text-decoration: underline;
opacity:0.5;
}

.m-b-15 {
  margin-bottom: 15px
}


// .md-ui.component-pagination {
// 	list-style: none;
// 	padding: 8px;
// 	li {
// 		border-radius: 50%;
// 		color: rgba(33,33,33 ,1);
// 		display: inline-block;
// 		margin: 0;
// 		transition: .15s ease-in;
// 		cursor: pointer;
// 		&:hover {
// 			background: rgba(233,30,99,.12);
// 		}
//     &.disabled{
//       color:rgba(33,33,33 ,1);
//       cursor: default;
// 		  &:hover {
// 			  background: #fff;
// 		  }
//     }
// 	}
// 	.pagination-number,
// 	.pagination-arrow i {
// 		vertical-align: middle;
//     padding:8px;
//     color:#E91E63;
//     font-family: Arial, Helvetica, sans-serif
// 	}
// 	.pagination-number {
// 		font-family: "Roboto", sans-serif;
// 		font-size: 14px;
// 		text-align: center;
// 		line-height: 24px;
// 		min-width: 40px;
// 		padding: 8px 0px;
// 		&.current-number {
// 			background: #E91E63;
// 			color: #fff;
// 		}
// 	}
//   .pagination-arrow.disabled i{
//      color:rgba(33,33,33 ,1);
//      cursor:default;
// 		 &:hover {
// 			background:#fff;
// 		}     
//   }
// 	.pagination-arrow i {
// 		font-size: 24px;
// 		padding: 8px;
//     font-family: Arial
// 	}
// }
